body{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: aliceblue;
    margin-top: 10px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

a {
    border: 1px solid black;
    align-items: center;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 15px 32px;
    color: black;
    text-decoration: none;
}

.p1 {
    margin-right: 100px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;

}

li {
    padding: 16px 30px;
}

.div1{
    background-image: url(https://media.istockphoto.com/id/918651092/fr/photo/tasse-de-caf%C3%A9-avec-croissant-sur-fond-de-b%C3%A9ton.jpg?s=612x612&w=0&k=20&c=vzm5v9V5PmfGwvzWDFxvZvJVeMWuRWJa-HNpXGNUBhc=);
    height: 500px;
    color: rgb(6, 34, 59);
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div4{
    width: 500px;
    text-align: center
}

 .div3 {
    background-image: url(https://media.istockphoto.com/id/1439570043/fr/photo/concept-de-petit-d%C3%A9jeuner.webp?b=1&s=170667a&w=0&k=20&c=ndoKfzDIKi9mAnec19zpvQtZaEpyPjIqS4JozKCGrNc=);
    height: 500px;
    color: rgb(6, 34, 59);
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

.div2 {
    display: flex;
    flex-direction: row;
}